<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/newproducts.css">
</head>
<body>
    <div class="topbar">
        <nav>
            <a href="/JS/views/home.ejs">Home</a>
            <a href="/products">Products</a>
            <a href="/newproducts">New products</a>
            <a href="/Dashboard">Dashboard</a>
            <a href="/logout" class="logout">logout</a>
        </nav>

    </div>
    <form action="/addproduct" method="POST">
        <h2>New product</h2><br>
        <label for="product">Product Name</label><br>
        <input type="text" id="product" name="name" placeholder="Product Name" required><br><br>
        <label for="category">Category</label><br>
        <select id="category" name="category" required>
            <option value="electronics">Electronics</option>
            <option value="beverages">Beverages</option>
            <option value="household">Household</option>
            <option value="toiletries">Toiletries</option>
            <option value="clothing">Clothing</option>
            <option value="stationary">Stationary</option>
            <option value="automotive">Automotive</option>
            <option value="hardware">Hardware</option>
        </select><br><br>
        <label for="quantity">Quantity</label><br>
        <input type="number" id="quantity" name="quantity" placeholder="Quantity" required><br><br>
        <label for="price">Price</label><br>
        <input type="number" id="price" name="price" placeholder="Price" required><br><br>
        <button class="btn" type="submit">Save</button>
    </form>

</body>
</html>