<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="csshome.css">
    <title>home</title>
</head>
<body>
    <div class="topbar">
        <nav>
            <a href="/home">Home</a>
            <a href="/products">Products</a>
            <a href="/JS/views/newproducts.ejs">New products</a>
            <a href="/Dashboard">Dashboard</a>
            <a href="/logout" class="logout">logout</a>
        </nav>

    </div>

    <h1>WELCOME STARDARD </h1>
    
</body>
</html>