*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aliceblue

}
.container{
    width: 30rem;
    background-color: #ffffff;
    border-radius:5px; 
    padding:0.5rem 1rem ;
    box-shadow: 8px 9px 30px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 8px 9px 30px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 8px 9px 30px 0px rgba(0,0,0,0.75);
    
}
.header{
    color: #000080;
    font-weight: 500;
    text-align: center;
    font-size: 2rem;
    margin: 1.7rem 0;
}
.container>form>input{
    display: inline-block;
    width: 100%;
    margin: 0.7rem;
    line-height: 2.5rem;
    border-radius: 5px;
    border: none;
    background-color:rgb(223, 234, 236);
    padding: 0.2rem 0.5rem ;
}
.container>form>input:focus{
    outline: none;
    border: 2px solid #5353ce;
}
form>button{
    background-color: #4d4de2;
    border: none;
    color: #ffffff;
    font-size: 1.1rem;
    padding: 0.9rem;
    width: 100%;
    border-radius:5px;
    margin: 0.5rem 0;
}